# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml

# Local config
local.properties

# Mac/Windows
.DS_Store
Thumbs.db

# Kotlin/Java
*.class

# Logs
*.log

# Generated
app/build/
captures/
.externalNativeBuild/
.cxx/

# Signing keys (НЕ пушити)
*.jks
*.keystore

# APK/AAB outputs
*.apk
*.aab
